//Variables
$ancho:600px;
$altura:430px;
$anchoImg:0px;
*{
    color:aliceblue;
}
section{
    display:flex;
    width: $ancho;
    height: $altura;
    img{
        width: $anchoImg;
        flex-grow: 1;
        object-fit: cover;
        opacity:.8;
        transition:.5s ease;
        &:hover{
            width:300px;
            opacity:1;
            filter: contrast(120%);
        }
    }
}
.header{
    img{
        width: 100%;
        opacity: 0.4;
        position: absolute;
        display: flex;
    }
}