
<%- include("templates/cabecera.ejs") %>
<title>Nuevo Modo</title>
</head>
<body>
<div class="container">
    <div><a class="btn btn-success btn-block my-4" href="/">Volver</a></div>
    <h1>Añadir nuevo Modo</h1>
    <form action="/modos" class="my-2" method="POST">
        <input type="text" placeholder="Nombre del modo" class="form-control my-2" name="Nombre">
        <input type="text" placeholder="Url de la imágen" class="form-control my-2" name="Img">
        <input type="text" placeholder="NumJugadores" class="form-control my-2" name="NumJugadores">
        <input type="text" placeholder="Descripcion" class="form-control my-2" name="Descripcion">
        <button type="submit" class="btn btn-dark btn-block">
            Agregar
        </button>
    </form>
</div>
<%- include("templates/footer") %>