<%- include("templates/cabecera.ejs", {cabecera:'Minileyendas'}) %>
    <div class="container">
        <h1>Login</h1>
        <form action=""></form>
    </div>
    <%- include("templates/footer.ejs") %>